

.searchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchInput{
	height: 40px;
	margin-bottom: 20px;
	padding: 0 20px;
	outline: none;
	border: 2px solid #00b068;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	margin-top: 70px;
	background-color: rgb(203, 203, 203);
	border-radius: 5px;
}